# spm
/Build
/.build
/Packages

# It is not like we will include Unicode thingies...
/Scripts/unicode/CaseFolding.txt
/Scripts/unicode/UnicodeData.txt

# Python stuff
/**/.pyc
/**/__pycache__

# C stuff
/**/*.out

# mac
.DS_Store
/*.xcodeproj
